/* LESS Compiles - Apply To All Responsive Layouts
================================================== */
@media only screen and (max-width: 1280px) {
  .outerbox {
    padding-left: 30px;
    padding-right: 30px;
  }
  .style-inspiration,
  .design-stationery,
  .design-vision,
  .custom-monogram,
  .sharing-styles,
  .related-styles,
  #copyright {
    padding-left: 25px;
    padding-right: 25px;
  }
  .stationery-detail,
  .related-style,
  .explore-styles,
  .explore-styles1 {
    padding-left: 0;
    padding-right: 0;
  }
  .design-vision .style-grid .middle-col {
    padding-right: 0;
    padding-left: 0;
  }
  .explore-styles {
    margin: 0;
  }
  #footer-widgets {
    padding: 25px 25px;
  }
  .hidden-lg {
    display: block;
  }
  .show-lg {
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  .offset-gut {
    padding-left: 5%;
  }
  .jumbtron .caption {
    max-width: 29%;
    left: 2%;
    top: 1rem;
  }
  .menu-main-nav-container {
    display: block ;
  }
}
@media only screen and (max-width: 980px) {
  .jumbtron .caption {
    max-width: 100%;
    left: 15%;
    top: 25%;
    right: 15%;
    background: #ffffff;
    background: rgba(255, 255, 255, 0.75);
    bottom: inherit;
    padding: 3%;
  }
  .home .innerbox {
    padding: 3rem 0;
  }
  img.desktop.img-responsive {
    display: none;
  }
  img.tablet.img-responsive {
    display: block;
  }
  .offset-gut {
    padding-left: 0;
  }
  /*special hide class*/
  .hide-all-devices {
    display: none;
  }
  .entry-overlay {
    display: none !important;
  }
  .navbar .logo-container {
    width: 125px;
    margin: 0px auto;
    overflow: auto;
    float: none;
  }
  .navbar .logo-container img {
    text-align: center;
  }
  .navbar .logo-link {
    float: none;
    display: block;
    max-width: 125px;
    width: 100%;
  }
  /*navigation*/
  #navigation .menu-main-nav-container.height {
    display: block;
    height: 100%;
  }
  .mobile-menu-toggle {
    background: #ffffff;
    color: #666;
    display: block;
    height: 30px;
    line-height: 30px;
    letter-spacing: 0.1em;
    margin: 0;
    position: absolute;
    right: 25px;
    top: 20px;
    text-transform: uppercase;
    width: 65px;
  }
  .mobile-menu-toggle:hover,
  .mobile-menu-toggle:focus {
    text-decoration: underline;
  }
  #navigation .menu-main-nav-container {
    background-color: #fff;
    border-top: 1px solid #d7d3d1;
    left: 0;
    opacity: 0.98;
    overflow-x: none;
    /* has to be scroll, not auto */
    position: fixed;
    padding: 0 5%;
    right: 0;
    top: 70px;
    width: 100%;
    height: 0;
    overflow-y: scroll;
    -webkit-transition: height 0.5s ease-in-out;
    -moz-transition: height 0.5s ease-in-out;
    -o-transition: height 0.5s ease-in-out;
    transition: height 0.5s ease-in-out;
  }
  #navigation .sf-menu {
    margin: 1rem 0 5rem;
    list-style: inherit;
  }
  #navigation ul li {
    border-top: none;
    display: block;
    width: 100%;
    text-align: center;
  }
  #navigation ul li a {
    display: block;
    font-size: 1rem;
    margin: 0;
    padding: 1rem;
  }
  #navigation ul li + li a {
    margin-left: 0;
  }
  .footer-box.logo {
    width: 25%;
  }
  .footer-box.menus {
    width: 75%;
  }
  .footer-box.social {
    width: 100%;
    margin-top: 1.563rem;
  }
  dl.accordion {
    margin-top: 40px;
  }
  .carousel {
    margin-bottom: 2.50rem;
  }
  .explore .inner {
    margin: 1em auto;
  }
  .explore .inner p {
    padding-bottom: 1.1em;
  }
}
/* #Tablet (Landscape) = Design for a width of 720px
================================================== */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /*special hide class*/
  .hide-tablet-landscape {
    display: none;
  }
}
/* #Tablet (Portrait) = Design for a width of 720px
================================================== */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  /*special hide class*/
  .hide-tablet-portrait {
    display: none;
  }
  /*removed fixed header*/
  /*footer*/
  .footer-box.logo {
    width: 25%;
  }
  .footer-box.menus {
    width: 75%;
  }
  .footer-box.social {
    width: 100%;
    margin-top: 1.563rem;
  }
  /*blog*/
  #author-bio {
    width: 310px;
  }
  body.no-sidebar #author-bio {
    width: 600px;
  }
}
/* Mobile (Portrait) = Design for a width of 767px
================================================== */
@media only screen and (max-width: 767px) {
  .clearfix.visible-xs-block {
    display: table !important;
    width: 100%;
    padding: 2%;
  }
  .dsg-links {
    margin-top: 0.75rem;
    margin-bottom: 1.5rem;
  }
  /*hide*/
  .hide-mobile-portrait {
    display: none;
  }
  #single-nav {
    display: none;
  }
  /*removed fixed header*/
  /*blog*/
  #related-posts .alignleft {
    max-width: 30%;
  }
  .related-entry-excerpt {
    display: none;
  }
  #author-bio {
    width: 155px;
  }
  body.no-sidebar #author-bio {
    width: 155px;
  }
  .meta li,
  .loop-entry-meta li {
    display: block;
    float: none;
    margin-bottom: 5px;
  }
  .meta li:last-child,
  .loop-entry-meta li:last-child {
    margin: 0;
  }
  /*search*/
  .search-entry-text {
    width: 100%;
    margin-top: 25px;
  }
  /*footer*/
  .footer-menu {
    margin-left: 53px;
  }
  .footer-menu:first-child {
    margin-left: 0;
  }
  /*comments*/
  .children {
    margin: 30px 0 0;
  }
  .children li.depth-2,
  .children li.depth-3,
  .children li.depth-4,
  .children li.depth-5,
  .children li.depth-6,
  .children li.depth-7,
  .children li.depth-8,
  .children li.depth-9,
  .children li.depth-10 {
    margin: 0;
  }
}
@media only screen and (max-width: 665px) {
  .jumbtron .caption {
    max-width: 100%;
    left: inherit;
    top: inherit;
    right: inherit;
    position: relative;
    bottom: inherit;
    z-index: inherit;
    margin-top: 2rem;
  }
}
/* Mobile (portait) = Design for a max-width of 480px
================================================== */
@media only screen and (max-width: 480px) {
  img.tablet.img-responsive {
    display: none;
  }
  img.mobile.img-responsive {
    display: block;
  }
  .carousel-pager .row {
    text-align: center;
    max-width: 100%;
    margin: 0px auto;
  }
  .carousel-pager .pager-col {
    width: 1.10rem;
    margin: 0px 0%;
    float: none;
    display: inline-block;
  }
  .carousel-pager img {
    display: none;
  }
  .carousel-pager a.active .overlay {
    background: none;
  }
  .carousel-pager a .fa {
    display: block;
  }
  /*isotope grid */
  .gutter-sizer {
    width: 2%;
  }
  .grid-item {
    width: 100%;
  }
  .loop-entry {
    width: 48%;
  }
  .loop-entry .text {
    padding: 10px;
  }
  .stat-info {
    text-align: center;
  }
  /*footer*/
  .footer-box.logo {
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
  }
  .footer-box.menus {
    width: 100%;
    margin: 0;
  }
  .footer-box.social .icon-set-lsi_widget-2 {
    text-align: center !important;
  }
  .footer-box.social .lsi-social-icons li {
    margin-bottom: 0 !important;
  }
  .footer-box.social .lsi-social-icons li:last-child {
    margin-right: 0 !important;
  }
  .footer-menu {
    margin: 0px 0 8%;
    width: 100%;
    text-align: center;
  }
  .footer-menu:last-child {
    margin-bottom: 0;
  }
  #copyright {
    text-align: center;
  }
  #copyright p {
    padding-bottom: 3%;
  }
}
/* Mobile (Landscape) = Design for a width of 440px
================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /*special hide class*/
  .hide-mobile-portrait {
    display: block;
  }
  .hide-mobile-landscape {
    display: none;
  }
  /*main*/
  #sidebar {
    width: 440px;
  }
  .wpex-widget-recent-posts .recent-right {
    float: right;
    width: 330px;
  }
  #footer .wpex-widget-recent-posts .recent-right {
    width: 330px;
  }
  /*blog*/
  #author-bio {
    width: 310px;
  }
  body.no-sidebar #author-bio {
    width: 315px;
  }
}
/* Mobile (portait) = Design for a max-width of 380px
================================================== */
@media only screen and (max-width: 380px) {
  .motif-images li {
    margin-right: 5px;
  }
  .motif-images img {
    max-width: 60px;
  }
  .style-grid .text-col {
    padding: 1.875rem 0;
  }
  .design-stationery .text-col {
    padding-left: 0;
    text-align: center;
  }
  .wedding-includes ul > li {
    margin-left: 15px;
    width: 100%;
    text-align: left;
  }
}
